<br>
<br>
<div class='row'>
  {{#each restaurants as |restaurant|}}
    <section data-id="{{restaurant.id}}" class='col-6'>
      {{#if restaurant.editable}}
      <h6>Name:</h6>
      <h3 contenteditable='true' class='name col-4'>
        {{restaurant.name}}
      </h3>
      <h6>Address:</h6>
      <p contenteditable='true' class='address col-4'>
        {{restaurant.address}}
      </p>
      <h6>Rating:</h6>
      <p contenteditable='true' class='rating col-4'>
        {{restaurant.rating}}
      </p>
      <h6>Cuisine:</h6>
      <p contenteditable='true' class='cuisine col-4'>
        {{restaurant.cuisine_type}}
      </p>
      <h6>Healthy:</h6>
      <p contenteditable='true' class='healthy col-4'>
        {{restaurant.healthy}}
      </p>
          <btn class='btn btn-primary make-reso' data-id='{{restaurant.id}}' data-toggle="modal" data-target="#reso-modal">Make reservation</btn>
          <btn class='btn btn-primary update-restaurant' data-id='{{restaurant.id}}'>Update Restaurant</btn>
          <btn class='btn btn-danger remove-restaurant' data-id='{{restaurant.id}}'>Remove Restaurant</btn>
        <br>
        <br>
        <br>
        <br>
      {{else}}
      <h6>Name:</h6>
      <h3>
        {{restaurant.name}}
      </h3>
      <h6>Address:</h6>
      <p>
        {{restaurant.address}}
      </p>
      <h6>Rating:</h6>
      <p>
        {{restaurant.rating}}
      </p>
      <h6>Cuisine:</h6>
      <p>
        {{restaurant.cuisine_type}}
      </p>
      <h6>Healthy:</h6>
      <p>
        {{restaurant.healthy}}
      </p>
      <btn class='btn btn-primary make-reso' data-id='{{restaurant.id}}' data-toggle="modal" data-target="#reso-modal">Make reservation</btn>
        <br>
        <br>
        <br>
        <br>
      {{/if}}
    </section>

  {{/each}}
</div>
